.servicios__cards {
   display: grid;
   gap: 1rem;
   margin-top: 40px;
}

.servicios__card {
   background-color: rgba(0, 0, 0, 0.7);
   background-blend-mode: multiply;
   color: var(--color-blanco);
   border-radius: 1rem;
   padding: 0rem 1rem;
   overflow: hidden;
   aspect-ratio: 5 / 3;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-size: auto 100%;
   background-position: center;
   background-repeat: no-repeat;
}

.servicios__card:nth-child(1) {
   background-image: url(../img/Gemini_coffee_maker.webp);
}
.servicios__card:nth-child(2) {
   background-image: url(../img/Gemini_heart.webp);
}
.servicios__card:nth-child(3) {
   background-image: url(../img/Gemini_laptops.webp);
}

.servicios__card-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   h3 {
      text-align: right;
   }
}

.servicios__card-body {
   overflow: hidden;
   transform: translateY(400px);
   background-color: rgba(0, 0, 0, 0.5);
   border-radius: 10px 10px 0 0;
   padding: 0.3rem;
}

.servicios__card:hover {
   background-size: auto 130%;
   transition: background-size 1s ease-in-out;
   .servicios__card-body {
      transform: translateY(0px);
      transition: transform 1s ease-out;
   }
}

@media (min-width: 700px) {
   .servicios__cards {
      grid-template-columns: repeat(3, 1fr);
      .servicios__card {
         aspect-ratio: 4 / 5;
      }
   }
   .servicios__card:nth-child(3) {
      background-image: url(../img/Gemini_laptops-sizeup.webp);
   }
}
